.EditContent {
   text-align: center;
   width: 40%;
   margin: 0 auto 25px;
}
.Edit {
   font-size: 25px;
   font-weight: bold;
   text-align: center;
   text-decoration: underline;
}
.Input {
   margin-bottom: 10px;
}
.Textarea {
   margin-bottom: 12px;
}
.Edit-Title {
   font-weight: bold;
}
.Edit-Content {
   font-weight: bold;
}
.Edit-Select {
   font-weight: bold;
}
.Select {
   margin-bottom: 15px;
}