.Content-Block {
   text-align: center;
   margin-bottom: 20px;
}
.Content {
   width: 40%;
   margin-left: 20px;
   text-align: left;
   display: inline-block;
}
.Title {
   font-size: 20px;
   font-weight: bold;
   text-align: center;
}
.Body {
   display: inline-block;
   width: 45%;
   padding: 15px;
   text-align: left;
}