.WelcomePage {
   text-align: center;
   margin-bottom: 30px;
}
.WelcomePage div {
   display: inline-block;
   vertical-align: middle;
   width: 32%;
   padding: 10px;
}
.WelcomePage p {
   font-size: 20px;
   font-weight: bold;
}